<h1> Fornecedor <%= @supplier.corporate_name%> </h1>

<h2><%= @supplier.brand_name%></h2>

<div>
  <strong> CNPJ: </strong><%= @supplier.registration_number%>
  <strong> Endereço: </strong><%= @supplier.full_address%>
  <strong> Cidade: </strong><%= @supplier.city%>
  <strong> Estado: </strong><%= @supplier.state%>
  <strong> E-mail: </strong><%= @supplier.email%>
</div>

<div>
  <%= link_to 'Editar', edit_supplier_path(@supplier) %> |
</div>

<div>
  <%=link_to "Voltar", suppliers_path %>
</div>